#s-d-nav,
.s-d-nav {
	background-color: black !important;
}

.mt--20 {
	margin-top: -30px;
}

#limit {
	height: 700px !important;
	width: auto !important;
}

.flexer {
	display: flex;
	justify-content: center;
}

.p-4 {
	padding: 4rem !important;
}
